.App {
  text-align: left;
  padding: 20px;
}
.products {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
}
.products li {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.products img{
  margin-bottom: 10px;
}
